{:paths   ["src"]
 :deps    {org.clojure/clojure                 {:mvn/version "1.10.1"}
           aysylu/loom                         {:mvn/version "1.0.2"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
           edu.stanford.nlp/stanford-corenlp   {:mvn/version "4.4.0"}}


 :aliases {:dev       {:extra-deps  {edu.stanford.nlp/stanford-corenlp$models         {:mvn/version "4.4.0"}
                                     edu.stanford.nlp/stanford-corenlp$models-chinese {:mvn/version "4.4.0"}}
                       :extra-paths ["dev/src"]
                       :jvm-opts    ["-Xmx4G"]}
           :test      {:extra-paths ["test"]
                       :extra-deps  {org.clojure/test.check               {:mvn/version "1.1.1"}
                                     io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}}
                       :exec-fn     cognitect.test-runner.api/test}
           :build     {:extra-paths ["dev/src"]
                       :extra-deps  {io.github.seancorfield/build-clj {:git/tag "v0.6.5"
                                                                       :git/sha "972031a"}}

                       :ns-default  build}
           :rebl      {:extra-deps {com.cognitect/rebl          {:mvn/version "0.9.242"}
                                    org.openjfx/javafx-fxml     {:mvn/version "15-ea+6"}
                                    org.openjfx/javafx-controls {:mvn/version "15-ea+6"}
                                    org.openjfx/javafx-swing    {:mvn/version "15-ea+6"}
                                    org.openjfx/javafx-base     {:mvn/version "15-ea+6"}
                                    org.openjfx/javafx-web      {:mvn/version "15-ea+6"}}
                       :main-opts  ["-m" "cognitect.rebl"]}
           :rebl-jdk8 {:extra-deps {com.cognitect/rebl {:mvn/version "0.9.242"}}
                       :main-opts  ["-m" "cognitect.rebl"]}}}
