{:paths   ["src"]
 :deps    {org.clojure/clojure               {:mvn/version "1.10.1"}
           aysylu/loom                       {:mvn/version "1.0.2"}
           camel-snake-kebab                 {:mvn/version "0.4.2"}
           edu.stanford.nlp/stanford-corenlp {:mvn/version "4.2.0"}
           scicloj/metamorph.ml              {:mvn/version "0.3.0-alpha3"}
           techascent/tech.ml.dataset        {:mvn/version "5.05"}}

 :aliases {:dev       {:extra-deps  {edu.stanford.nlp/stanford-corenlp$models         {:mvn/version "4.2.0"}
                                     edu.stanford.nlp/stanford-corenlp$models-chinese {:mvn/version "4.2.0"}}
                       :extra-paths ["dev/src"]
                       :jvm-opts    ["-Xmx4G"]}
           :rebl      {:extra-deps {com.cognitect/rebl          {:mvn/version "0.9.242"}
                                    org.openjfx/javafx-fxml     {:mvn/version "15-ea+6"}
                                    org.openjfx/javafx-controls {:mvn/version "15-ea+6"}
                                    org.openjfx/javafx-swing    {:mvn/version "15-ea+6"}
                                    org.openjfx/javafx-base     {:mvn/version "15-ea+6"}
                                    org.openjfx/javafx-web      {:mvn/version "15-ea+6"}}
                       :main-opts  ["-m" "cognitect.rebl"]}
           :rebl-jdk8 {:extra-deps {com.cognitect/rebl {:mvn/version "0.9.242"}}
                       :main-opts  ["-m" "cognitect.rebl"]}}}
